@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-head: var(--font-inter);
  --font-body: var(--font-manrope);
}

/* Global typography */
html {
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body), system-ui, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-head), system-ui, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial;
  letter-spacing: -0.02em;
}


h1 {
  letter-spacing: -0.04em;
}

h2 {
  letter-spacing: -0.03em;
}


:focus-visible {
  outline: none;
}

::selection {
  background: rgba(255, 40, 40, 0.25);
  color: white;
}


:target {
  scroll-margin-top: 96px; 
}
